<template>
  <require from="../../resources/value-converters/keys"></require>
  

  <div class="container">
    <div id="signupbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">Sign Up</div>

        </div>

        <div style="padding-top:30px" class="panel-body">

          <ul class="alert alert-danger col-sm-12" if.bind="controller.errors">
            <li repeat.for="error of controller.errors">
              ${error.message}
            </li>
          </ul>

          <form id="signupform" class="form-horizontal" role="form">
            <span style="color:orangered; text-transform: capitalize;" if.bind="errors.first_name">
              ${errors["first_name"]}
            </span>
            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
              </span>
              <input id="sinup-firstname" type="text" class="form-control field_with_errors" name="firstname" placeholder="Name" value.bind="firstname">
            </div>

            <span style="color:orangered; text-transform: capitalize;" if.bind="errors.last_name">
              ${errors["last_name"]}
            </span>
            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
              </span>
              <input id="sinup-lastname" type="text" class="form-control" name="lastname" placeholder="Sur Name" value.bind="lastname">
            </div>

            <span style="color:orangered; text-transform: capitalize;" if.bind="errors.email">
              ${errors["email"]}
            </span>
            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-envelope"></i>
              </span>
              <input id="sinup-email" type="text" class="form-control" name="email" placeholder="Email" value.bind="email">
            </div>

            <span style="color:orangered; text-transform: capitalize;" if.bind="errors.password">
              ${errors["password"]}
            </span>
            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-lock"></i>
              </span>
              <input id="sinup-password" type="password" class="form-control" name="password" placeholder="Password" value.bind="password">
            </div>

            <span style="color:orangered; text-transform: capitalize;" if.bind="errors.password_confirmation">
              ${errors["password_confirmation"]}
            </span>
            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-lock"></i>
              </span>
              <input id="sinup-passwordconfirmation" type="password" class="form-control" name="passwordconfirmation" placeholder="Confirm Password"
                value.bind="passwordconfirmation">
            </div>



            <div class="form-group">
              <!-- Button -->
              <div class="col-md-offset-3 col-md-9">
                <button id="btn-signup" type="button" class="btn btn-info" click.trigger="submit()">
                  <i class="icon-hand-right"></i> &nbsp Sign Up</button>
                <span style="margin-left:8px;">or</span>
                <button id="btn-fbsignup" type="button" class="btn btn-primary">
                  <i class="icon-facebook"></i>   Sign Up with Facebook</button>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12 control">
                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                  Already have an account!
                  <a route-href='signin'>
                    Sign In Here
                  </a>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
</template>