<template>
  <require from="../../resources/value-converters/keys"></require>

  <div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">Sign In</div>

        </div>

        <div style="padding-top:30px" class="panel-body">

          <ul class="alert alert-danger col-sm-12" if.bind="controller.errors">
            <li repeat.for="error of controller.errors">
              ${error.message}
            </li>
          </ul>

          <ul class="alert alert-danger col-sm-12" if.bind="errors">
            <li repeat.for="key of errors | keys" style="text-transform: capitalize;">${errors[key]}</li>
          </ul>


          <form id="loginform" class="form-horizontal" role="form">

            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-envelope"></i>
              </span>
              <input id="login-email" type="text" class="form-control" name="email" placeholder="Email" value.bind="email">
            </div>

            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-lock"></i>
              </span>
              <input id="login-password" type="password" class="form-control" name="password" placeholder="Password" value.bind="password">
            </div>



            <div class="input-group">
              <div class="checkbox">
                <label>
                  <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                </label>
              </div>
            </div>


            <div style="margin-top:10px" class="form-group">
              <!-- Button -->

              <div class="col-sm-12 controls">
                <a id="btn-login" class="btn btn-success" click.trigger="submit()">Sign In </a>
                <a id="btn-fblogin" href="#" class="btn btn-primary">Sign In with Facebook</a>

              </div>
            </div>


            <div class="form-group">
              <div class="col-md-12 control">
                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                  Don't have an account!
                  <a route-href='signup'>
                    Sign Up Here
                  </a>
                </div>
              </div>
            </div>
          </form>



        </div>
      </div>
    </div>
  </div>

</template>