<template>
    <require from="./communitylist"></require>
    <require from="./communitycreate"></require>

    <div class="container-fluid">
        <community-create></community-create>
    </div>

    <div class="container-fluid">
        <community-list></community-list>
    </div>
</template>