<template>
    <require from="../../resources/value-converters/keys"></require>
    <div class="row">
        <div class="col-sm-3">
            <h3>Create a community
            </h3>
        </div>
        
    </div>


    <div class="row">

            <ul class="alert alert-danger col-sm-12" if.bind="errors">
                    <li repeat.for="key of errors | keys" style="text-transform: capitalize;">${key + " " + errors[key]}</li>
                </ul>
    
                <div class="alert alert-info" if.bind="message">
                    <strong>${message}</strong>
                </div>
            

            <div class="col-sm-2">
                <br>
                <input type="text" name="name" placeholder="Community Name" value.bind="name">
            </div>&nbsp;&nbsp;
            <div class="col-sm-2">
                    <svg height="100" width="100">
                        <circle cx="50" cy="50" r="40" fill="lightgrey" />
                    </svg>
                </div>
            <br>

            
    </div>
    <div class="row">
            <div class="col-sm-4" style="display: inline;">
                    Single Community&nbsp;/&nbsp; Network of Communities
                </div>
                
    </div>
    <div class="row">
            <h6>By creating a community, you agree to Grid Labs, terms and conditions.</h6>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-default col-sm-3" click.trigger="submit()">Create</button>
            </div>
    </div>
</template>