<template>
    <require from="../../resources/value-converters/keys"></require>
    <require from="../invitation/invitationcreate"></require>

    <div class="container-fluid">
        <ul class="alert alert-danger col-sm-12" if.bind="errors">
            <li repeat.for="key of errors | keys" style="text-transform: capitalize;">${key + " " + errors[key]}</li>
        </ul>
        <invitation-create community_id.bind="community.id"></invitation-create>
        <div class="container-fluid" if.bind="community.name.length">
            <div class="jumbotron my-4">
                <div id="section1">
                    <h1 class="display-3">${community.name}</h1>
                    <a class="btn btn-success btn-sm" click.trigger="addUserToCommunity({community_id: community.id, user_id: sender_id})">Join</a>
                </div>
            </div>
        </div>
        <div class="alert alert-info" if.bind="message">
            <strong>${message}</strong>
        </div>
        <div class="container-fluid" if.bind="isCommunityManager">
            <h4 class="list-group-item-heading">Users List..</h4>
            <div class="table-responsive col-xs-4 col-sm-4 col-lg-4" style="height: 400px; max-height: 400px; overflow:auto;">

                <table class="table table-hover table-striped well">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody if.bind="users">
                        <tr repeat.for="user of users">
                            <td>${user.first_name}</td>
                            <td>${user.last_name}</td>
                            <td>
                                <a class="btn btn-success btn-sm" click.trigger="sendInvite({community_id: community.id, sender_id: user.id, receiver_email: user.email})">Send Invite</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <br>

        <div class="container-fluid">
            <h4 class="list-group-item-heading">Community Users Profile List..</h4>
            <div class="table-responsive col-xs-4 col-sm-4 col-lg-4" style="height: 400px; max-height: 400px; overflow:auto;">

                <table class="table table-hover table-striped well">
                    <thead>
                        <tr>
                            <th>User Profile Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody if.bind="profiles">
                        <tr repeat.for="profile of profiles">
                            <td>${profile.username}</td>
                            <td>
                                <a class="btn btn-danger btn-sm" href="#">Remove User</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>