<template>
    <div class="row">
        <div class="col-sm-2">
            <p>Artifex ANU</p>
            <ul class="list-group">
                <a class="list-group-item">General</a>
                <a class="list-group-item">Chat</a>
                <a class="list-group-item">Roles</a>
                <a class="list-group-item">Automations</a>
                <a class="list-group-item">Onboarding</a>
                <a class="list-group-item">+ Add more</a>
            </ul>
        </div>
        <div class="col-sm-2">
            <br>
            <div>
                <b>Community Name</b>
            </div>

            <br>
            <input type="text" value.bind="community.name">
            <br>
            <br>
            <div>
                <b>Invitation Link</b>
            </div>
            <div>community invitation link</div>
            <h6>
                <a>Generate new link</a>
            </h6>
        </div>
        <div class="col-sm-2">
            <svg height="100" width="100">
                <circle cx="50" cy="50" r="40" fill="lightgrey" />
            </svg>
        </div>
        <div class="col-sm-6"></div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-2">
            <p>Member management</p>
            <ul class="list-group">
                <a class="list-group-item">All</a>
                <a class="list-group-item">Pending invites</a>
                <a class="list-group-item">Suspensions</a>
            </ul>
        </div>
    </div>


</template>