<template>
    <br>
    <div class="container-fluid">
        <div class="row">
            <h4 class="list-group-item-heading">My Communities</h4>
            <div class="list-group container well col-sm-3" style="min-height: 100px; max-height: 400px; overflow:auto;" if.bind="mycommunities.length">

                <a repeat.for="community of mycommunities" route-href="route: communityview; params.bind: {community_id:community.id}" class="list-group-item">${community.name}</a>
                <br>
            </div>
            <div class="list-group container well col-sm-3" style="min-height: 300px; max-height: 400px; overflow:auto;" else>
                <div class="alert alert-warning">
                        <strong>No communities found!</strong>
                </div>
            </div>
        </div>
        <div class="row">
            <h4 class="list-group-item-heading">Suggested Communities</h4>
            <div class="list-group container well col-sm-3" style="min-height: 300px; max-height: 400px; overflow:auto;" if.bind="communities.length">

                <a repeat.for="community of communities" route-href="route: communityview; params.bind: {community_id:community.id}" class="list-group-item">${community.name}</a>
            </div>
            <div class="list-group container well col-sm-3" style="min-height: 300px; max-height: 400px; overflow:auto;" else>
                <div class="alert alert-warning">
                        <strong>No communities found!</strong>
                </div>
            </div>
        </div>
    </div>
    <br>
</template>