<template>
    this is profile view
        <!-- <div class="container">
            <div class="jumbotron my-4">
                <div id="section1">
                    <h1 class="display-3">${community.name}</h1>
                </div>
            </div>
        </div>
        <div class="container" if.bind="users.length">
            <div class="list-group well col-sm-6">
                <h4 class="list-group-item-heading">Users List..</h4>
                <div repeat.for="user of users" href="#" class="list-group-item">${user.first_name + " " + user.last_name}
                    <a id="btn-adduser" class="btn btn-success btn-sm" style="position: relative; top: -5px; float: right;" route-href="route: contacts; params.bind: {community_id:community.id, user_id: user.id;}">Add User</a>
                </div>
            </div>
            <div class="list-group well col-sm-6">
                <h4 class="list-group-item-heading">Community Users Profile List..</h4>
                <div repeat.for="profile of profiles" href="#" class="list-group-item">${profile.username}
                    <a id="btn-adduser" class="btn btn-danger btn-sm" style="position: relative; top: -5px; float: right;" href="#">Remove User</a>
                </div>
            </div>
        </div> -->
    </template>