<template>
    <div class="page-header container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <b>
                        <a class="navbar-brand disabled">Grid</a>
                    </b>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a route-href='home'>Home</a>
                    </li>
                    <li>
                        <li>
                        <a route-href='dashboard'>Dashbard</a>
                    </li>
                    <li>
                            
                            <a route-href='communitycreate'>Create Community</a>
                        
                        
                    <li>

                        <a id="btn-community" route-href='communitymanagement'>Community Management</a>
                    </li>
                </ul>
                <div style="float:right; font-size: 100%; top: +10px; position: relative;" if.bind="sharedState.currentUser.email.length">
                    <a id="btn-logout" class="btn btn-info btn-sm" click.trigger="logout()">
                        <span class="glyphicon glyphicon-log-out"></span>Logout ${sharedState.currentUser.email}</a>
                </div>
                <div style="float:right; font-size: 100%; top: +15px; position: relative;" else>
                    <a route-href='signin'>Sign In</a>&nbsp;&nbsp;
                    <a route-href='signup'>Sign Up</a>
                </div>
            </div>
        </nav>




    </div>
</template>