<template>
    <div class="container-fluid">
        <div>
            <div class="container-fluid">
                <h4>Hello! Why don't we help you get started?</h4>
                <ul>
                    <div>1. Join a community or create one</div>
                    <form class="form-inline">
                            <a type="submit" class="btn btn-default" route-href="community">Join a community</a>
                            <a type="submit" class="btn btn-default" route-href="communitycreate">Create a community</a>
                        </form>
                        <div>2. Customise your account settings</div>
                        <div>3. Connect with friends</div>
                </ul>
                
            </div>
        </div>
    </div>

    <br>
    <br>
</template>