<template>
        <require from="../../resources/value-converters/keys"></require>
        <div class="container-fluid">
                <div class="table-responsive" style="height: 400px; max-height: 400px; overflow:auto;">
                        <table class="table table-hover table-striped well">
                                <thead>
                                        <tr>
                                                <th>#</th>
                                                <th>Receiver Email</th>
                                                <th>Receiver ID</th>
                                                <th>Sender ID</th>
                                                <th>Community ID</th>
                                                <th>Status</th>
                                        </tr>
                                </thead>
                                <tbody if.bind="invitations">
                                        <tr repeat.for="invitation of invitations" style="text-transform: capitalize;">
                                                <td>
                                                        <a route-href="route: invitationview; params.bind: {id:invitation.id}" class="list-group-item">${invitation.id}</a>
                                                </td>
                                                <td>${invitation.receiver_email}</td>
                                                <td>${invitation.receiver_id}</td>
                                                <td>${invitation.sender_id}</td>
                                                <td>${invitation.community_id}</td>
                                                <td>${invitation.status}</td>
                                        </tr>
                                </tbody>
                        </table>
                </div>
        </div>
</template>