<template>
        <div class="container-fluid">
                <div class="table-responsive">
                        <table class="table table-hover table-striped well">
                                <thead>
                                        <tr>
                                                <th>#</th>
                                                <th>Receiver Email</th>
                                                <th>Receiver ID</th>
                                                <th>Sender ID</th>
                                                <th>Community ID</th>
                                                <th>Status</th>
                                        </tr>
                                </thead>
                                <tbody if.bind="invitation">
                                        <tr style="text-transform: capitalize;">
                                                <td>${invitation.id}</td>
                                                <td>${invitation.receiver_email}</td>
                                                <td>${invitation.receiver_id}</td>
                                                <td>${invitation.sender_id}</td>
                                                <td>${invitation.community_id}</td>
                                                <td>${invitation.status}</td>
                                        </tr>
                                </tbody>
                        </table>
                </div>
        </div>
</template>