<template>
    <require from="../../resources/value-converters/keys"></require>
    <div class="container-fluid">
        <ul class="alert alert-danger col-sm-12" if.bind="errors">
            <li repeat.for="key of errors | keys" style="text-transform: capitalize;">${key + " " + errors[key]}</li>
        </ul>
        <div class="alert alert-info" if.bind="message">
            <strong>${message}</strong>
        </div>
        <div class="table-responsive">
            <div class="container-fluid  col-xs-3 col-sm-2 col-lg-4">
                <form class="form-inline">
                    <span style="color:orangered; text-transform: capitalize;" if.bind="errors.name">
                        ${errors["name"]}
                    </span>
                    <div class="form-group">
                        <input type="text" class="form-control" name="receiver_email" placeholder="Recipient Email" value.bind="receiver_email">
                    </div>&nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary" click.trigger="submit()">Send Invitation</button>
                </form>
            </div>
        </div>
    </div>

    <br>
    <br>
</template>