<template>
  <require from="./shared/layouts/headerlayout"></require>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <script>
      $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
  <!-- <main> -->
      
        <div class="container-fluid">
          <ul class="error-messages" if.bind="controller.errors">
            <li repeat.for="error of controller.errors">
              ${error.message}
            </li>
          </ul>
      <!-- 
          <h1>${message}</h1> -->
          <header-layout></header-layout>
          <router-view></router-view>
          <footer-layout></footer-layout>
        </div>
  <!-- </main> -->
</template>